{% extends "admin/change_list.html" %}
{% load url from future %}
{% load admin_list i18n %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
(function ($) {
    $(document).ready(function () {
        $('#json_upload_file').change(function (event) {
            $('#json_upload_form').submit();
        });
        $('#json_upload_button').click(function (event) {
            event.preventDefault();
            $('#json_upload_file').trigger('click');
        });
    });
})(django.jQuery);
</script>
{% endblock %}

{% block object-tools %}
    <form id="json_upload_form" method="POST" action="{% if cl.opts.module_name == 'textbox' %}{% url 'bento-text-import' %}{% endif %}{% if cl.opts.module_name == 'imagebox' %}{% url 'bento-image-import' %}{% endif %}" enctype="multipart/form-data" style="visibility:hidden">
    {% csrf_token %}
    <input id="json_upload_file" type="file" name="json_file" />
  </form>
  {{ block.super }}
{% endblock object-tools %}

{% block object-tools-items %}
    <li>
        <a href="" id="json_upload_button" class="addlink">
        {% blocktrans with cl.opts.verbose_name_plural as name %}JSON Import {{ name }}{% endblocktrans %}
        </a>
    </li>
    {{ block.super }}
{% endblock %}
